.formulario {
    display: flex;
    max-width: 500px;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    border: 1px solid black;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  
  .grupo {
    margin-bottom: 20px;
    
  }
  
  .opciones {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .botones {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 150px;
  }

  .form-row {
    display: flex;

  }

  .col{
    margin-right: 10px;
  }

  .form-check-label {
    margin-bottom: 10px;
  }

  .form-group {
    margin-bottom: 5px;
  }
